body{
    
    background-color: cornflowerblue;
}
#header p{
    color: blue;
}
#header h1{
    color: blueviolet;
}
.second {
    color: azure;
    background: yellow;
}
.red{
    background-color: yellow;
    color: green;
}

/* grouping selector */
h1,h2,h3{
    background-color: chartreuse;
}